@(hashtagForm: Form[HashtagForm])(implicit messages: Messages)
@import helper._

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Bees</title>
  <link rel="stylesheet" media="screen"
        href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>

  <h3>Bees</h3>

  @form(action = routes.BeesController.beesFormPost()) {
    @helper.inputText(hashtagForm("hashtag"), Symbol("_label") -> null,
      Symbol("placeholder") -> "hashtag")
    <input type="submit" value="Submit">
  }

</body>
</html>
